.header {
  padding: 39px 25px 0;
}

.header-description {
  font: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  color: #333333;
  text-transform: uppercase;
}

.header-elements {
  display: flex;
  align-items: center;
  gap: 25px;
}

